@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h1>Use these links below to get to know Joel better</h1>

<div class="text-center">
    <a href="https://www.qwcomedy.com/">Comedy Link</a>
    <br />
    <a href="https://baconsale.com/">Bacon Sales</a>
    <br />
    <a href="https://baconsale.com/"> 
        <img src="/img/Baconsalekate.jpg" height= "500" />
    </a>
</div>